<div class="text-layout">
    <h1>Decimal pipe y porcentaje</h1>
    <p>Pipes incluidos en Angular - Usualmente en common module</p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Venta Netas" subheader="del año">
            <i class="pi pi-dollar"> </i> {{ ventasNetas + 190000000 | number: "1.2-2" }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Venta Brutas" subheader="del año">
            {{ ventasNetas + 190000000 | currency: "CO" }}
        </p-card>
    </div>
</div>