<div class="text-layout">
    <h1>Pipes Basicos</h1>
    <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="uppercase" subheader="{{ nombreUpper | uppercase }}">
            1</p-card>
    </div>

    <div class="p-col-4">
        <p-card header="lowercase" subheader="{{ nombreLower | lowercase }}">
            2</p-card>
    </div>

    <div class="p-col-4">
        <p-card header="titlecase" subheader="{{ nombreTitle | titlecase }}">
            3</p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>Pipe para mostrar las fechas</p>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>Fecha</li>
                <li>Fecha | date</li>
                <li>Fecha | date : short</li>
                <li>Fecha | date : medium</li>
                <li>Fecha | date : long</li>
                <li>Fecha | date : MMMM,dd,yyy</li>
            </ul>
            <hr />
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date: "short" }}</li>
                <li>{{ fecha | date: "medium" }}</li>
                <li>{{ fecha | date: "long" }}</li>
                <li>{{ fecha | date: "MMMM dd, yyyy" }}</li>
            </ul>
            <hr />
        </p-card>
    </div>
</div>